*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Heebo', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 5px 20px;
  width: 100%;
  border-bottom: solid 1px #434343;
  background-color: white;
  z-index: 10;
}

nav img{
height: 55px;
}

nav button{
  background-color: transparent;
  border: none;
  color: black;
  font-size: 5px;
  cursor: pointer;
}

header{
  height: 350px;
  background-color: #EB4A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img{
  margin-top: 55px;
}

.cart_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  position: fixed;
  background-color:#ffffff;
  height: 85%;
  top: 67px;
  width: 30%;
  overflow-y: scroll;
  transition: 0.5s;
  box-shadow: 3px 3px 15px -3px #434343;
  left: 100%;
}

.cart_visible{
  left: 70%;
}

main h3{
  padding: 10px;
  margin: 20px;
  font-size: 25px;
  color: #434343;
}

.principal_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 40px 40px;
  height: 100%;
}

.product_container{
  max-width: 450px;
  max-height: 100%;
  transition: all 0.25s;
}

.product_container:hover{
  transform: translateY(-6px);
  box-shadow: 5px 5px 15px 0px #d6d5d5;
}

.product_container_img img{
height: 360px;
}

.product_container_price{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: right;
  margin: 5px 17px;
}

.product_container_img p{
  display: flex;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 10px;
  max-height: 40px;
  max-width: 200px;
  
}

.product_container_button{
  display: flex;
  justify-content: right;
}

.cart_button{
  display: flex;
  justify-content: center;
  background-color: #EB4A5A;
  padding: 7px;
  border: transparent;
  color: white;
  width: 90px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 20px;
}

.details_button{
  display: flex;
  justify-content: center;
  background-color: #274671;
  padding: 7px;
  border: transparent;
  color: white;
  width: 90px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 15px;
  margin-bottom: 20px;
}

.cart_button:hover{
  transform: translateY(-3px);
}

.modal_container_element{
background-color: #434343;
height: 300px;
height: 300px;
position: fixed;
}

.cart_product img{

  padding-top: 20px;
  width: 70%;
  height: 70%;
}

#cart_list button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EB4A5A;
  padding: 7px;
  border: transparent;
  color: white;
  width: 80px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 20px;
  height: 30px;
  font-size: 14px;
}

#cart_list p:nth-child(2){
  font-size: 18px;
  margin-left: 10px;
}

#cart_list p:nth-child(3){
font-weight: bold;
margin-left: 10px;
font-size: 18px;
}

#cart_list p:nth-child(4){
  margin: 10px;
  font-size: 16px;
}


.cart_product_button{
  display: flex;
  justify-content: right;
}

.empty_cart{
  background-color: #274671;
  border: transparent;
  color: white;
  width: 120px;
  min-height: 30px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 14px;
}

.modal_container_element{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  min-height: 70%;
  background-color: white;
  box-shadow: 3px 3px 15px -3px #434343;
  left: 15%;
  bottom: 15%;
  display: none;
}

.show_modal{
  display: block;
}

.close_modal{
  display: flex;
  justify-content: right;
  margin: 8px;
  padding-right: 7px;
  font-size: 16px;
  cursor: pointer;
}

.details_product {
    display: flex;
    justify-content: space-around;
  }
.description p:first-child {
    font-size: 26px;
    margin: 10px;
    color: #434343;
    margin-bottom: 20px;
  }
.description1 p:last-child {
    font-size: 28px;
    color: #434343;
    font-weight: 700px;
    margin-bottom: 20px;
  }

.description_img1 p {
    font-size: 18px;
    margin-bottom: 10px;
  }

.sizes div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
.sizes div p:first-child {
    font-size: 16px;
  }
.sizes div p:last-child {
    font-size: 25px;
    color: #434343;
  }
.description_img1 div img {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 110px;
    margin-bottom: 40px;
  }

.description_img1 div:hover{
    border: solid 1px;
    color: #274671;
  }

.first_sizes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

.first_sizes {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }

.first_sizes div{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0,5s;
  margin-bottom: 40px;
}

.sizes div p{
  font-size: 18px;
  }

.first_sizes p:hover {
    border: solid 1px #274671;
    transform: scale(1.1);
  }

.description_img2 {
    position: relative;
    z-index: 1;
  }
  
.first_sizes div p {
    font-size: 16px;
    color: #434343;
  }

.description_img2 img {
    width: 350px;
    position: absolute;
    top: 10%;
    right: 0;
  }

.description_img2 div {
    background-color: #EB4A5A;
    width: 200px;
    height: 400px;
    position: relative;
  }

  @media screen and (max-width: 1550px){
    .modal_container_element {
      left: 9%;
    }
  }
  @media screen and (max-width: 1300px){
    .modal_container_element {
      left: 9%;
    }
  }
  @media screen and (max-width: 992px){
    .sizes {
      max-width: 300px;
    }

    .first_sizes {
      max-width: 300px;
      gap: 20px;
    }

    .first_sizes div {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 768px){
  
  .cart_block {
      width: 70%;
    }

  .nav_cart_visible {
      left: 30%;
    }

  .first_sizes {
      max-width: 100%;
    }

    .details_product {
      flex-direction: column;
      margin: 0 20px;
    }


    .modal_container_element {
      top: 10%;
    }

    .description1 p:first-child{
      margin-bottom: 10px;
    }

    .description1 p:last-child{
      margin-bottom: 10px;
    }

    .first_text p:first-child {
      margin-bottom: 10px;
      font-size: 16px
    }
    
    .description1 p:nth-child(1) {
      margin-bottom: 10px;
      font-size: 25px;
    }
    .description_img1 div {
      margin-bottom: 10px;
    }

    .description_img1 img{
      margin-bottom: 10px;
    }

    .sizes div {
      margin-bottom: 10px;
    }
    .description_img2 {
      position: relative;
      margin-bottom: 10px;
    }
    .description_img2 div {
      height: 320px;
    }
    .description_img2 img {
      top: 0%;
      width: 320px;
      
    }
  }
  @media screen and (max-width: 450px){
    .description1 p:first-child {
      font-size: 22px;
    }
    .description1 p:last-child {
      font-size: 24px;
    }
    .modal_container_element {
      top: 7.9%;
    }
  }